<?xml version='1.0' encoding='utf-8'?>
<widget id="com.chdc.reader.debug" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ChDC Reader(Debug)</name>
    <description>
        ChDC Reader for Debug
    </description>
    <author email="chendacai@qq.com" href="https://github.com/ChDC">
        ChDC
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" spec="~4.3.1" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.1" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <preference name="OverrideUserAgent" value="Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/46.0.2490.4 Safari/537.36" />
    <chcp>
        <config-file url="https://raw.githubusercontent.com/ChDC/ChDCReader/dev/www/chcp.json" />
        <auto-install enabled="false" />
        <auto-download enabled="false" />
    </chcp>
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.0" />
</widget>
