<div class="titlebar row">
  <button class="btn btn-link col-xs-3" id="btnBookShelf">书架</button>
  <button class="btn btn-link col-xs-3" id="btnExplore">发现</button>
  <button class="btn btn-link col-xs-3" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>

  <div class="btn-group col-xs-3">
    <button class="btn btn-link dropdown-toggle titlebar-menu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li id="btnToggleNightMode"><a>夜间模式</a></li>
      <li id="btnCheckUpdate"><a>检查更新</a></li>
      <li id="btnTest"><a href="test.html">单元测试</a></li>
      <!-- <li id="btnToggleDebugMode"><a>调试模式</a></li> -->
      <li class="divider"></li>
      <li id="btnSettings"><a>设置</a></li>
    </ul>
  </div>
</div>


<div class="container">
  <ul id="bookshelf">
  </ul>
</div>

<div class="template">
  <li class="media book card">
    <div class="media-left">
      <img class="book-cover media-left" src="img/book_cover.png" alt="">
    </div>
    <div class="media-body">
      <div class="btn-group float-right">
        <button type="button" class="btn btn-link btnBookMenu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
        <ul class="dropdown-menu dropdown-menu-right " role="menu">
          <li class="btnLockLocation"><a>锁定位置</a></li>
          <li class="btnDetail"><a>书籍详情</a></li>
          <li class="btnRemoveBook"><a>删除本书</a></li>
          <!-- <li class="divider"></li> -->
        </ul>
      </div>
      <div class="book-info">
        <h4 class="book-name">书籍标题</h4>
        <p class="book-lastestchapter">最新章节</p>
        <p class="book-readingchapter">读到</p>
      </div>
    </div>
  </li>
</div>
