
/*********** Location ***************/
.media{
    margin-top:0;
}

#bookshelf, #finishedBookshelf{
    padding: 10px 0;
}

.btnBookMenu{
    display: none;
}

.book-name {
    width: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0 0 0;
}

.book{
    overflow: visible;
    width: 33%;
    display: inline-block;
    margin: 0;
    position: relative;
}

.book-cover{
    width: 100%;
}

.book > .card{
    padding: 10px 10px;
}

.titlebar-menu{
    text-align: right;
    width: 100%;
}

.error{
    font-weight: bold;
}

/*.type-comics:after{
    content: "comics";
    font-size: 50%;
    margin-left: 10px;
}*/

#modalBookMenu .modal-dialog{
    position: absolute;
    top: 40%;
    /*height: 80%;*/
    width: 80%;
    left: 10%;
    margin: 0;
}

#modalBookMenu .modal-body{
    padding: 0;
}

#modalBookMenu .list{
    margin: 0;
}

/*********** Color ***************/

.error{
    color: red;
}

#bookshelf .book, #finishedBookshelf .book{
    border-color: #aaa;
}
