/*********** Color ***************/

body, .dropdown-menu, .modal-content, .list-group-item{
    background-color: #252526;
    background-image: none;
    /*color: #3399ff;*/
    color: #f1f1cf;
    border-color: #252527;
}

.header{
    background-color: #EE0000;
}

.error{
    color: red;
}

.row.header > .btn-link{
    color: #fff;
}

#bookshelf .book, #finishedBookshelf .book{
    border-color: #aaa;
}

.dropdown-menu>li>a, .btnBookMenu{
    color: #f1f1cf;
}


#modalFinishedBooks button.close{
    color: white;
}
