<div class="container">
  <div id="mainView">
    <div id="mainViewHeader">
      <span class="labelChapterTitle float-left"></span>
      <span class="labelContentSource float-right"></span>
    </div>
    <div id="chapterContainer">
      <ul id="chapters" class="list">
      </ul>
    </div>
    <div id="mainViewFooter">
      <span class="labelBookPercent float-left"></span>
      <span class="labelChatperPercent float-right"></span>
    </div>
  </div>

  <div class="toolbar top">
    <button class="toolbar-button btn btn-link" id="btnClose"><i class="glyphicon glyphicon-chevron-left"></i><!--返回--></button>
    <div class="float-right">
      <span class="labelContentSource"></span>
      <button class="toolbar-button btn btn-link" id="btnChangeContentSource">换源</button> |
      <button id="btnBadChapter" class="toolbar-button btn btn-link">劣质章节</button> |
      <button id="btnRefresh" class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-refresh"></i></button>
    </div>
  </div>
  <div class="toolbar addtoBookShelf" >
    <div id="btnAddtoBookShelf" class="float-right">
      <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-circle-arrow-right"></i><br/>加入书架</button>
    </div>
  </div>
  <div class="toolbar lastAndNextChapter" >
    <div id="btnLast" class="float-left">
      <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-circle-arrow-left"></i><br/>上一章</button>
    </div>
    <div id="btnNext" class="float-right">
      <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-circle-arrow-right"></i><br/>下一章</button>
    </div>
  </div>
  <div class="toolbar bottom" style="height:60px;">
    <table class="toolbar-table">
      <tbody>
        <tr>
          <td id="btnBookDetail">
            <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-book"></i><br/>详情</button>
          </td>
          <td>
            <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-download-alt"></i><br/>缓存</button>
          </td>
          <td id="btnSettings">
            <button class="toolbar-button btn btn-link"   data-toggle="modal" data-target="#modalSettings"><i class="glyphicon glyphicon-cog"></i><br/>设置</button>
          </td>
          <td id="btnToggleNight">
            <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-certificate"></i><br/><span id="labelNight">夜间</span></button>
          </td>
          <td id="btnCatalog">
            <button class="toolbar-button btn btn-link"  data-toggle="modal" data-target="#modalCatalog"><i class="glyphicon glyphicon-list"></i><br/>目录</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Modal 目录 -->
  <div class="modal fade" id="modalCatalog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> -->
          <div class="float-right">
            <span class="labelMainSource"></span>
            <button class="btn btn-link modal-title" id="btnChangeMainSource">换源</button>|
            <button class="btn btn-link modal-title" id="btnSortReversed"><i class="glyphicon glyphicon-sort"></i></button>|
            <button class="btn btn-link modal-title" id="btnRefreshCatalog"><i class="glyphicon glyphicon-refresh"></i></button>
          </div>
          <h4 class="modal-title" id="myModalLabel">目录</h4>
        </div>
        <div class="modal-body">
          <div id="listCatalogContainer">
            <ul id="listCatalog" class='list'>

            </ul>
          </div>
        </div>
<!--         <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">关闭</button>
        </div> -->
      </div>
    </div>
  </div>

  <!-- Modal 更换目录源 -->
  <div class="modal fade" id="modalBookSource" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalBookSourceLabel">更换目录源</h4>
        </div>
        <div class="modal-body">
          <ul id="listBookSource" class="list">
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">关闭</button>
          <!-- <button class="btn btn-primary">确定</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 设置阅读页面 -->
  <div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <td>
            <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-font"></i><br/>字体</button>
          </td>
          <td>
            <button class="toolbar-button btn btn-link"><i class="glyphicon glyphicon-book"></i><br/>背景</button>
          </td>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="template">
  <!-- <li class="listCatalogEntry" data-dismiss="modal">第一章</li> -->

  <li class="listBookSourceEntry" data-dismiss="modal">起点中文网</li>

  <li class="chapter">
    <div class="chapter-header">
      <h4 class="chapter-title">
      </h4>
    </div>
    <div class="chapter-content">
    </div>
  </li>

  <li class="chapter readFinished">
    <div class="chapter-header">
      <h4 class="chapter-title">读完啦</h4>
    </div>
    <div class="chapter-content">
      <p class="chapter-p">您已经读完了本书的所有更新！</p>
      <p class="chapter-p">想要尽快阅读本书的最新章节，请<a class="offical-site">点击</a>前往本书的官方网站：</p>
      <img class="offical-site" src="" alt="官方网站">
      <ul class="elseBooks" class="list">
      </ul>
    </div>
  </li>

  <li class="book">
    <img class="book-cover" src="img/book_cover.png" alt="">
    <div class="book-name">书籍标题</div>
  </li>

  <div class="panel panel-default chapter-volume-item">
    <h4 class="panel-heading panel-title volume-name" data-target="" data-toggle="collapse">
    </h4>
    <ul class="list panel-collapse collapse list-group chapter-list">
    </ul>
  </div>

  <li class="list-group-item chapter-item" data-dismiss="modal"></li>

</div>
