<div class="container">
  <div class="titlebar row header">
    <button class="toolbar-button btn btn-link pull-left" id="btnClose"><i class="glyphicon glyphicon-chevron-left"></i><!--返回--></button>
    <p class="title">搜索</p>
  </div>

  <div class="searchbar header row">
    <input class="col-xs-7 keyword" type="text" placeholder="输入书名或作者名" value="一念永恒" />
    <select class="col-xs-3 bookSource">
    </select>
    <button class="btn btn-link col-xs-2 btnSearch"><span class="glyphicon glyphicon-search"></span></button>
  </div>

  <div class="result">

  </div>

  <div class="template">
    <div class="media book">
      <div class="media-left">
        <img class="book-cover media-left" src="img/book_cover.png" alt="">
        <p class="book-type"></p>
      </div>
      <div class="media-body">
        <h4 class="book-name">书籍标题</h4>
        <p>
          <span class="book-author">作者</span> |
          <span class="book-catagory">分类</span> |
          <span class="book-complete">更新状态</span>
        </p>
        <p class="book-introduce">作品简介</p>


        <p class="book-lastestchapter">最新章节</p>
        <p>
          <button class="btn btn-default btnDetail">书籍详情</button>
          <button class="btn btn-default btnAddToBookshelf">加入书架</button>
        </p>

        <span class="book-booksource">Test</span>
      </div>
    </div>
  </div>
</div>
