<div class="titlebar">
  <p class="title">搜索</p>
  <button class="left-button btn btn-link" id="btnClose"><i class="glyphicon glyphicon-chevron-left"></i><!--返回--></button>
</div>

<div class="container">
  <div class="titlebar row noshadow" >
    <input class="col-xs-6" id="keyword" type="text" placeholder="输入书名或作者名" />
    <select class="col-xs-4" id="bookType">
      <option value="">所有</option>
      <option value="novel">小说</option>
      <option value="comics">漫画</option>
    </select>

    <button class="btn btn-link col-xs-2" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
  </div>
  <div class="titlebar row">
    <div class="col-xs-4"><label id="lblFilterResult"><input type="checkbox" id="chkFilterResult" name="">筛选结果</label></div>
    <select class="col-xs-6" id="bookSource">
      <option value ="">[全网搜索]</option>
    </select>
  </div>
  <div id="searchLogPanel">
    <h4>搜索记录：</h4>
    <button id="clearSearchLog" class="close"><span>&times;</span></button>
    <ul id="searchLog">

    </ul>

  </div>
  <ul id="result">
  </ul>
</div>


<div class="template">
  <li class="book card">
    <div class="media-left">
      <img class="book-cover media-left" src="img/book_cover.png" alt="">
      <p class="book-type"></p>
    </div>
    <div class="media-body">
      <h4 class="book-name">书籍标题</h4>
      <p>
        <span class="book-author">作者</span> |
        <span class="book-catagory">分类</span> |
        <span class="book-complete">更新状态</span>
      </p>
      <p class="book-introduce">作品简介</p>
      <p>
        <button class="btn btn-default btnDetail">书籍详情</button>
        <button class="btn btn-default btnAddToBookshelf">加入书架</button>
      </p>

      <span class="book-booksource">Test</span>
    </div>
  </li>

  <li class="searchLogItem">
    <span class="title"></span>
  </li>
</div>
