<div class="titlebar row">
  <button class="btn btn-link col-xs-3" id="btnBookShelf">书架</button>
  <button class="btn btn-link col-xs-3" id="btnExplore">发现</button>
  <button class="btn btn-link col-xs-3" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>

  <div class="btn-group col-xs-3">
    <button class="btn btn-link dropdown-toggle titlebar-menu" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical"></i></button>
    <ul class="list dropdown-menu dropdown-menu-right" role="menu">
      <li id="btnToggleNightMode"><a>夜间模式</a></li>
      <li id="btnShowFinishedBooks" data-toggle="modal" data-target="#modalFinishedBooks"><a>读完的书</a></li>
      <li id="btnCheckUpdate"><a>检查更新</a></li>
      <li id="btnTest"><a href="test.html">单元测试</a></li>
      <!-- <li id="btnToggleDebugMode"><a>调试模式</a></li> -->
      <li class="divider"></li>
      <li id="btnSettings"><a>设置</a></li>
    </ul>
  </div>
</div>


<div class="container">
  <ul id="bookshelf" class="list">
  </ul>

  <div class="modal fade" id="modalFinishedBooks" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">读完的书</h4>
        </div>
        <div class="modal-body">
          <ul id="finishedBookshelf" class="list">

          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="modalBookMenu" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">书名</h4>
        </div>
        <div class="modal-body">
          <ul class="list list-group book-menu">
            <li class="btnDetail list-group-item ">书籍详情</li>
            <li class="btnRemoveBook list-group-item ">删除本书</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="template">
  <li class="book">
    <div class="card book-info">
      <img class="book-cover" src="img/book_cover.png" alt="">
      <p class="book-name">书籍标题</p>
    </div>
<!--     <div class="btnBookMenu" data-toggle="dropdown"></div>
    <ul class="list dropdown-menu dropdown-menu-right book-menu">
      <li class="btnDetail"><a>书籍详情</a></li>
      <li class="btnRemoveBook"><a>删除本书</a></li>
    </ul> -->

  </li>

</div>
