<div class="titlebar">
  <p class="title">详情</p>
  <button class="left-button btn btn-link" id="btnClose"><i class="glyphicon glyphicon-chevron-left"></i><!--返回--></button>
</div>

<div class="container">
  <div class="media book card">
    <div class="media-left">
      <img id="book-cover" class="media-left" src="img/book_cover.png">
    </div>
    <div class="media-body">
      <h4 id="book-name">书籍标题</h4>
      <p>
        <span id="book-author">作者</span> |
        <span id="book-catagory">分类</span> |
        <span id="book-complete">更新状态</span>
      </p>
      <p id="book-introduce">作品简介</p>
      <p>
        <button class="btn btn-default" id="btnSourcePage">原网页</button>
        <button class="btn btn-default" id="btnRead">立即阅读</button>
        <button class="btn btn-default" id="btnAddToBookshelf">加入书架</button>
      </p>
    </div>
  </div>
  <div class="book-chapters-div card">
    <h4>章节目录</h4>
    <ul id="book-chapters" class="list">
    </ul>
  </div>
</div>

<div class="template">
  <li class="book-chapter">章节内容</li>
</div>
