
/*********** Location ***************/

.chapter-volume-item{
    margin: 10px 15px 10px 15px;
}

.book{
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #aaa;
    padding: 10px 10px;
}

#book-chapters > li {
    border-top: 1px solid #e1e1e1;
    padding-top: 1em;
    padding-bottom: 1em;
}

.book-chapters-div{
    padding: 20px;
}

.book-chapters-div h4 {
    text-align: center;
}

#book-cover{
    margin: 10px 0;
    width:90px;
    height:120px;
}

.media-body button{
    margin: 5px 10px 5px 0;
}

.book-chapter{
    width: 100%;
}

.vip-chapter:after{
    content: "vip";
    font-size: 80%;
    margin-left: 10px;
    color: red;
}

/*********** Color ***************/
.btn-link{
    color: #fff;
}

