/*********** Color ***************/

body, .modal-content, #book-chapters, .chapter-item, .chapter-volume-item{
    background-color: #252526;
    background-image: none;
    /*color: #3399ff;*/
    color: #f1f1cf;
}

.btn-link{
    color: #fff;
}

.chapter-volume-item>.panel-heading, .volume-name{
    /*border-width: 0px;*/
    color:  #f1f1cf;
    background-color: #505052;
}
