/*********** Location ***************/

.content-img{
    width: 100%
}

.mainView{
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    /*overflow: auto;*/
    word-wrap: break-word;
}

.mainViewHeader{
    height: 25px;
    font-size: 0.8em;
}

.mainViewHeader span{
    margin: 5px;
}

.mainViewFooter{
    height: 25px;
    font-size: 0.8em;
}

.chapterContainer{
    padding: 0;
    position: absolute;
    /*height: 100%;*/
    top: 25px;
    bottom: 25px;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
}


.chapters{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
}

.chapter{
    padding-top: 15px;
    margin: 0;
    word-wrap: break-word;
}

.chapter-p{
    padding: 0 15px;
    text-indent: 2em;
    font-size: 18px;
    line-height: 32px;
    margin-top: 15px 0 0 0;
}

.container{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: auto;
}

.chapter-title{
    text-align: center;
    font-size: 21.06px;
    font-weight: bold;
    margin: 0px;
    padding: 5px 5px 10px 5px;
}


.toolbar{
    display: none;
}

#listCatalogContainer{
    /*position: relative;*/
    width: 100%;
    /*position: absolute;*/
    overflow: auto;
}


.toolbar.top .btn{
    padding: 6px 6px;
}

.lastAndNextChapter{
    bottom: 78px;
    position: fixed;
    width: 100%;
    height: 78px;
    line-height: 58px;
    left: 0px;
}

.btnNext, .btnLast{
    margin: 10px 20px;
    height: 60px;
    border-radius: 100px;
    /*position: fixed;*/
    /*top: -30px;*/
}

.top{
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.bottom{
    box-shadow: 0 -3px 9px rgba(0,0,0,.5);
}

/*********** Color ***************/
/*.toolbar.top, .toolbar.bottom{
    background-color: #181818;
    color: white;
}*/


.mainView{
    background-image: url(img/readbg1.jpg);
}

.toolbar .btn{
    /*color: #cacaca;*/
}

.lastAndNextChapter{
    background-color: transparent;
}

.btnNext, .btnLast{
    background-color: #ccc;
}

.mainViewHeader{
    color: gray;
}

.mainViewFooter{
    color: #eee;
}

.current-chapter{
    color: red;
}

.vip-chapter:after{
    content: "vip";
    font-size: 80%;
    margin-left: 10px;
    color: red;
}
