/*********** Color ***************/

.mainView, .toolbar.top, .toolbar.bottom, .modal-content{
    background-image: none;
    background-color: #252526;
    color: #f1f1cf;
    /*color: #3399ff;*/
}

.toolbar .btn{
    /*color: #cacaca;*/
}

.lastAndNextChapter{
    background-color: transparent;
}

.btnNext, .btnLast{
    background-color: #ccc;
}

.mainViewHeader{
    color: gray;
}

.mainViewFooter{
    color: #eee;
}
