/*********** Location ***************/

.titlebar{
    width:100%;
    padding: 0;
}
.titlebar p{
    position: relative;
    left: 20%;
    width: 60%;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 7px 5px;
}


.header{
    width:100%;
    background-color: #EE0000;
    /*padding:10px;*/
    margin:0;
}

.searchbar{
    width:100%;
}

.keyword{
    /*width: 108px;*/
    /*margin: 0 10px 0 0;*/
    padding: 7px 5px;
    background-color: transparent;
    border-width: 0;
    color: white;
}

.bookSource {
    color: white;
    padding: 7px 5px;
    background-color: transparent;
    border-width: 0;
}

.btnSearch{
    width: 40px;
}

.container{
    padding:0;
}

.result{
    padding:15px 15px 15px 15px;
}


.book-cover{
    margin: 10px 0;
    width:90px;
    height:120px;
}

.book{
    padding-bottom: 15px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #aaa;
}

.result .media-body button{
    margin: 2px 3px;
}


/*********** Color ***************/


.bookSource option{
    color: #000;
}

.btn-link{
    color: #fff;
    background-color: #EE0000;
}

